$theme-colors: (
     "primary": #FF69B4
);
@import "node_modules/bootstrap/scss/bootstrap";
html {
    scroll-behavior: smooth;
  }
body {
    background: #00133b;
    background: -moz-linear-gradient(top,  #00133b 0%, #003bb7 50%, #00133b 96%);
    background: -webkit-linear-gradient(top,  #00133b 0%,#003bb7 50%,#00133b 96%);
    background: linear-gradient(to bottom,  #00133b 0%,#003bb7 50%,#00133b 96%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00133b', endColorstr='#00133b',GradientType=0 );
        
        
    color: #fff;
    font-family: 'Muli', sans-serif;
} 
img{
    max-width: 100%;
}
h1, h2, h3, h4{
    font-family: 'PT Serif', serif;
}
h1, .h1{
    font-size: 6rem;
    line-height: 6.5rem;
}
h2, .h2{
    font-size: 4.5rem;
}
h3, .h3{
    font-family: 'Muli', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
}
p{
    font-size: 1.125rem;
    line-height: 2rem;
}
.fixbg{
    max-width: 150px;
    position: fixed;
    top:50px;
}
.main{
    background-image: url(../assets/dot-pattern-2.png), url(../assets/image-1.jpg);
    background-position: right 100%, right top;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, auto;
    padding: 230px 0 185px 0;
}
.main p{
    padding-top: 1.5rem;
}
.number{
    position: absolute;
    font-size: 14rem;
    font-weight: 600;
    left: 0;
    top: 0;
    line-height: 0.7;
    opacity: 0.3;
}
#section2{
    padding-top: 3rem;
}
.sec{
    padding: 7rem 0 0;    
    h3{
        margin-top: 3rem;
    }
}
.pl-60{
    padding-left: 60px;
}
.overlay-img{
    margin-top: -70px;
    margin-left: -25px;
}
.overlay-img-r{
    margin-top: -70px;
    margin-right: -25px;
}
.spacer{
    height: 50vh;
}

.header__progress{
    width: 0;
    height: 3px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.8;
}